[Desktop Entry]
Categories=Network;
Comment[tr]=Konsoling masaüstü yazılımı
Comment=Konsoling masaüstü yazılımı
Encoding=UTF-8
Exec=konsoling.py
GenericName[tr]=Konsoling masaüstü yazılımı
GenericName=Konsoling masaüstü yazılımı
Icon=/usr/share/pixmaps/konsoling.png
MimeType=
Name[tr]=konsoling
Name=konsoling
Path=
StartupNotify=true
Terminal=true
TerminalOptions=\s--noclose
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
GenericName[tr_TR.UTF-8]=
Name[tr_TR]=konsoling
